

  .image-9 { 
    margin: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
  }
  
  .title {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
    white-space: normal;
  }

  .usercounter{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
    white-space: normal;
  }