.middlecolumn {
    width: 100%;
    height: 100%;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    -o-object-fit: fill;
    object-fit: fill;
  }